.timer-container {
    background-color: #111;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.timer-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.timer-icon {
    width: 40px;
    height: 40px;
    color: white;
}

.digits-container {
    display: flex;
    gap: 10px;
}

.digit-box {
    background-color: #222;
    padding: 10px 16px;
    font-size: 2rem;
    border-radius: 6px;
    text-align: center;
    min-width: 160px;
}

.buttonGroup{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 15px;
}

